/***** RESET *****/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {

	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***** RESET *****/


.wholepage{
	width: 1500px; 
	height: auto; 
	margin: 0px auto; 
	background: #000;}
	
	.bar{width: 1500px; height: 53px; padding-top: 20px; float: left; background-color: #fff; position: fixed;}

	.logo{width: auto; height: 37px; margin-top:3px; margin-left: 5px; float: left;}

	.menu{ width: auto; height: 32px; float: left; margin-left: 325px;}
	.menu ul{list-style: none; padding: 0;}
	.menu ul li{float: left; position: relative;}
	.menu ul li a{ display:block; width: 125px; height: 15px; background-color: #fff; color: #000; font: bold 12px Ubuntu; text-decoration: none; 
    padding: 20px 10px 15px 10px; text-align: center; border:1px solid #fff;} 
	.menu ul li a:hover{ color:white; background: #3AC64B;}
	.menu ul li ul{display: none;}
	.menu ul li:hover ul{display: block; position: absolute;}

	.nasa {width: auto; height: 37px; float: right; }
	
	.mid1{width: 1500px; height: 800px; float: left; margin-top: 97px; background-color: #fff; border-radius: 4px;}
	
	.mid2{width: 493px; height: 240px; float: left; margin-top: 10px; background-color: #3AC64B; border-radius: 4px; 
		box-shadow: 5px 5px 15px darkgray;}
	
	.mid3{width: 493px; height: 240px; float: left; margin-top: 10px; margin-left: 10px; background-color: #5FBDF5; border-radius: 4px; 
		box-shadow: 5px 5px 15px darkgray;}
	
	.mid4{width: 493px; height: 240px; float: left; margin-top: 10px; margin-left: 10px; background-color: #000566; border-radius: 4px;}
	
	.last{width: 1500px; height: 90px; float: left; margin-top: 10px; background-color: rgb(225, 220, 255); border-radius: 3px;}

	.title1{font: bold 50px Ubuntu; line-height: 100px; font-family: 'Ubuntu', sans-serif;}
	.title2{font: italic 37px Ubuntu; line-height: 80px; font-family: 'Ubuntu', sans-serif;}
	.font1{font: 25px Ubuntu; line-height: 50px; font-family: 'Ubuntu', sans-serif;}
	.font2{font: italic 23px Ubuntu; font-weight: lighter; line-height: 40px; font-family: 'Ubuntu', sans-serif;}

	.p{line-height: 220px;}


	.mid1pol{width: 1500px; height: 800px; float: left; margin-top: 97px; background-color: #fff; border-radius: 4px;}
	
	.mid2pol{width: 493px; height: 430px; float: left; margin-top: 10px; background-color: #fff; border-radius: 4px; 
		box-shadow: 5px 5px 15px darkgray;}
	
	.mid3pol{width: 493px; height: 430px; float: left; margin-top: 10px; margin-left: 10px; background-color: #fff; border-radius: 4px; 
		box-shadow: 5px 5px 15px darkgray;}
	
	.mid4pol{width: 493px; height: 430px; float: left; margin-top: 10px; margin-left: 10px; background-color: #fff; border-radius: 4px;
		box-shadow: 5px 5px 15px darkgray;}

	.lastPol{width: 1500px; height: 40px; float: left; margin-top: 10px; background-color: #fff; border-radius: 3px;}



	.insider2k {width: 940px; height: 740px; float: left; margin-right: 20px; background-color: #fff; padding-top: 30px; padding-bottom: 30px;
		 padding-left: 20px; padding-right: 20px;}

	.insider1k{width: 500px; height: 600px; float: left; background-color: #fff; margin-top: 120px; }
 

	.topair{height: 77px;width: 1500px; float: left; background-color: #fff; text-align: center;}

	.midair{height: 300px;width: 1200px; float: left; margin-top: 20px; margin-bottom: 13px; background-color: #fff; padding-left: 300px;}
	
	.botair{height: 380px;width: 1500px; float: left; padding-top: 5px; padding-bottom: 5px; background-color: #fff;}

	.mid1ab{width: 1300px; height: auto; float: left; margin-top: 97px; background-color: #fff; border-radius: 4px; padding-left: 200px; padding-top: 30px;}



	.mid1sig{width: 1500px; height: 560px; float: left; margin-top: 97px; background-color: #fff; border-radius: 4px;}

	.insider2ksig {width: 940px; height: 500px; float: left; margin-right: 20px; background-color: #fff; padding-top: 30px; padding-bottom: 30px;
		padding-left: 20px; padding-right: 20px;}

   .insider1ksig{width: 500px; height: 500px; float: left; background-color: #fff; margin-top: 120px; }

   .mid1short{width: 1250px; height: 300px; float: left; margin-top: 97px; background-color: #fff; border-radius: 4px; padding-left: 50px;}

   .images{width: 600px; height: auto; border-radius: 20px;}


   .solutions1{width: 850px; height: 740px; float: left; margin-top: 50px; margin-right: 20px; background-color: #fff; padding-top: 30px; padding-bottom: 30px;
		padding-left: 20px; padding-right: 20px;}

	.solutions2{width: 780px; height: 740px; float: left; margin-right: 20px; background-color: #fff; padding-top: 30px; padding-bottom: 30px;
		padding-left: 20px; padding-right: 20px;}
	
	.solutions3{width: 1250px; height: 500px; float: left; margin-top: 97px; background-color: #fff; border-radius: 4px; padding-left: 50px;}

	.solutions4{width: 500px; height: 600px; float: left; background-color: #fff; margin-top: 35px;}

	.solutions5{width: 1250px; height: 600px; float: left; margin-top: 97px; background-color: #fff; border-radius: 4px; padding-left: 50px;}
	
